*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background{
    background-color: var(--background-color);
    padding-top: 50px;
    width: 100%;
    min-height: 100vh;
}
.wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2em;
    gap: 1.5em;
}
.wrapper .column-left{
    background-color: var(--primary-color);
    height: max-content;
}
.wrapper .column-left h1,
.edit-task-wrapper h1{
    text-align: center;
    color: #fff;
}
.wrapper .column-left .form,
.edit-task-wrapper .box .form{
    background-color:#fff1;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: .5em;
    padding: 1.5em 1em;
}
.wrapper .column-left .form p,
.edit-task-wrapper .box .form p{
    margin: 0;
}
.wrapper .column-left .form input,
.wrapper .column-left .form textarea,
.wrapper .column-left .form button,
.edit-task-wrapper .box .form input,
.edit-task-wrapper .box .form textarea,
.edit-task-wrapper .box .form button{
    width: 100%;
    min-height: 35px;
    font-size: 1.1em;
    border: none;
    outline: none;
}
.wrapper .column-left .form input:hover,
.wrapper .column-left .form textarea:hover,
.edit-task-wrapper .box .form input:hover,
.edit-task-wrapper .box .form textarea:hover{
    background-color: #ddd;
}
.wrapper .column-left .form input:focus,
.wrapper .column-left .form textarea:focus,
.edit-task-wrapper .box .form input:focus,
.edit-task-wrapper .box .form textarea:focus{
    background-color: #fff;
}
.wrapper .column-left .form button,
.edit-task-wrapper .box .form button{
    background-color: transparent;
    color: #fff;
    transition: background-color .3s;
}
.wrapper .column-left .form button:hover,
.edit-task-wrapper .box .form button:hover{
    background-color: var(--primary-color);
}
.wrapper .column-left .form input,
.wrapper .column-left .form textarea,
.edit-task-wrapper .box .form input,
.edit-task-wrapper .box .form textarea{
padding-left: .3em;
}
.wrapper .column-left .form textarea,
.edit-task-wrapper .box .form textarea{
    height: 80px;
    resize: none;
}
.wrapper .column-right{
    height: max-content;
}
.wrapper .column-right .tasks{
}
.wrapper .column-right .tasks .task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: .8em;
    border-top: 3px solid #000;
    background-color:#fff;
    padding: 0 1em;
}
.wrapper .column-right .tasks .task p{
    margin-right: auto;
    color: var(--primary-color);
}
.wrapper .column-right .tasks .task:first-child{
    border-top: none;
}
.wrapper .column-right .tasks .task i{
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: var(--primary-color);
}
.wrapper .column-right .tasks .task i:hover{
    color: var(--background-color);
}



.edit-task-wrapper{
    background-color: #000c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
.edit-task-wrapper .box{
    background-color: var(--primary-color);
    position: relative;
}
.edit-task-wrapper h1{}
.edit-task-wrapper .form{
    position: relative;
}
.edit-task-wrapper .form input{}
.edit-task-wrapper .close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background-color: #a00;
    color: #fff;
    border: none;
    outline: none;
    font-weight: 600;
}
.edit-task-wrapper .close-btn:hover{
    background-color: #f33;
}
.show{
    display: flex;
}


/* 
.edit-task-wrapper .box h1{
}
.edit-task-wrapper .box .form{
}
.edit-task-wrapper .box .form p{
}
.edit-task-wrapper .box .form input,
.edit-task-wrapper .box .form textarea,
.edit-task-wrapper .box .form button{
}
.edit-task-wrapper .box .form textarea{
} 
*/