<div class="wrapper">
    <div class="column-left">
        <div class="form">
            <input #inpTitle type="text" name="title" placeholder="title">
            <p *ngIf="titleError">{{ titleError }}</p>
            <textarea #inpDesc name="description" placeholder="description"></textarea>
            <p *ngIf="descriptionError">{{ descriptionError }}</p>
            <button (click)="addNewTask(inpTitle.value, inpDesc.value)">ADD</button>
        </div>
    </div>
    <div class="column-right">
        <h1>ToDo</h1>
        <div class="tasks">
            <div class="task" *ngFor="let task of tasks; let i = index">
                <p>{{ i + 1 }} {{ task.title }} - {{ task.description }}</p>
                <button (click)="editTask(i)">📝</button>
                <button (click)="deleteTask(i)">🗑</button>
            </div>
            
        </div>
    </div>
</div>


<app-edit-task></app-edit-task>